<h1>Fields</h1>

<table>
  <thead>
    <tr>
      <th>Place</th>
      <th>Number</th>
      <th>Size</th>
      <th>Roofed</th>
      <th>Illuminated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fields.each do |field| %>
      <tr>
        <td><%= field.place_id %></td>
        <td><%= field.number %></td>
        <td><%= field.size %></td>
        <td><%= field.roofed %></td>
        <td><%= field.illuminated %></td>
        <td><%= link_to 'Show', field %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_field_path(field) %></td>
          <td><%= link_to 'Destroy', field, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Field', new_field_path %>
<% end %>