

<p>
  <strong>Number:</strong>
  <%= @field.number %>
</p>

<p>
  <strong>Size:</strong>
  <%= @field.size %>
</p>

<p>
  <strong>Roofed:</strong>
  <%= @field.roofed %>
</p>

<p>
  <strong>Illuminated:</strong>
  <%= @field.illuminated %>
</p>

<%= week_calendar events: @meetings do |date, meetings| %>
  <%= date %>

  <% meetings.each do |meeting| %>
    <div>
      <%= meeting.name %>
      <%= meeting.start_time %>
      <%= meeting.end_time %>
    </div>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_field_path(@field) %> |
<% end %>
<%= link_to 'Back', place_path(@field.place_id) %>
