<p>
  <strong>Number:</strong>
  <%= @field.number %>
</p>

<p>
  <strong>Size:</strong>
  <%= @field.size %>
</p>

<p>
  <strong>Roofed:</strong>
  <%= @field.roofed %>
</p>

<p>
  <strong>Illuminated:</strong>
  <%= @field.illuminated %>
</p>

<div id="calendar" data-turbolinks="false"></div>
<script >
   $('#calendar').fullCalendar({
    header: {
      left: 'prev,next today',
      center: 'title',
      right: '  '
    },
    defaultView: 'agendaWeek',
    slotDuration: '01:00:00',
    minTime: '06:00:00',
    maxTime: '23:00:00',
    businessHours: [ // specify an array instead
      {
        dow: [ 1, 2, 3 ], // Monday, Tuesday, Wednesday
        start: '08:00', // 8am
        end: '18:00' // 6pm
      },
      {
        dow: [ 4, 5 ], // Thursday, Friday
        start: '10:00', // 10am
        end: '16:00' // 4pm
      }
    ],
    selectable: true,
    selectHelper: true,
    editable: true,
    eventLimit: true,
    events: '/events.json',

    select: function(start, end) {
      $.getScript('/events/new', function() {});

      calendar.fullCalendar('unselect');
    },

    eventDrop: function(event, delta, revertFunc) {
      event_data = { 
        event: {
          id: event.id,
          start: event.start.format(),
          end: event.end.format()
        }
      };
      $.ajax({
          url: event.update_url,
          data: event_data,
          type: 'PATCH'
      });
    },
    
    eventClick: function(event, jsEvent, view) {
      $.getScript(event.edit_url, function() {});
    }
  });
</script>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_field_path(@field) %> |
<% end %>
<%= link_to 'Back', place_path(@field.place_id) %>


<div id="new_event" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">close</span></button>
                <h4>Add an Event</h4>
            </div>
            <div id="modalBody" class="modal-body">
              <%= render "events/form", :event => @event  %>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button type="submit" class="btn btn-primary" id="submitButton">Save</button>
            </div>
        </div>
    </div>
</div>

<div id="edit_event" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">close</span></button>
                <h4>Edit an Event</h4>
            </div>
            <div id="modalBody" class="modal-body">
              <%= render "events/form", :event => @event  %>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button type="submit" class="btn btn-primary" id="submitButton">Save</button>
            </div>
        </div>
    </div>
</div>